<div class="row home-section" id="about">
	<div class="col col-xs-12">
		<div class="row">
			<div class="col col-xs-12 section-title-col" id="about-col">
				<h2 id="about-title" class="text-centered"> What do we do? </h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p class="section-paragraph" > We can screen print or embroider everything from dress shirts and Polos for large corporations to t-shirts and hats for family reunions. With our in-house artists, we can create custom artwork for you, or you can supply your own.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-7">
				<%= image_tag("store-front", class: "section-img", alt: "South Shore Royal Tees") %> 
			</div>
			<div class="col-12 col-lg-5" id="about-list-div">
				<p class="section-paragraph"> 
					Our passion is to bring your ideas to life in any way possible. We strive to provide top notch customer service with every order! ake a look around, and let us know how we can help!
				</p>
				<ul class="section-paragraph clearfix" id="about-organization-list">
						<li> Bands </li>
						<li> Youth Clubs </li>
						<li> Restaurants </li>
						<li> Schools </li>
						<li> Sports Teams </li>
						<li> Special Events </li>
						<li> Gyms </li>
						<li> Trade Shows </li>
						<li> Parties </li>
						<li> Community Groups </li>
					</ul>
			</div>
		</div>
	</div>
</div>