<div class="row home-section" id="contact">
	<div class="col col-xs-12">
		<div class="row">
			<div class="col col-xs-12 section-title-col" id="about-col">
				<h2 id="about-title" class="text-centered"> How can you reach us? </h2>
				<!-- 			<p class="section-paragraph"> Interested in learning more? We were hoping you'd say that. Here's how to get in touch with us.</p> -->
			</div>
		</div>
		<div class="row">
						<div class="col-12 col-sm-4">
				<div class="contact-card-container">
					<i class="far fa-address-card contact-icon margin-centered">
					</i>
					<ul> 
						<li>
							South Shore Royal Tees
						</li>
						<li>
							150 W. Hoffman Ave.
						</li>
						<li>
							Lindenhurst, NY 11757 							
						</li>
						<li>
							(631) 225-2911
						</li>
						<li>
							<a href="mailto:southshoreroyaltees@gmail.com">
							SouthShoreRoyalTees@gmail.com </a>
						</li>
					</ul> 
				</div> 
			</div>
			<div class="col-12 col-sm-4">
				<div class="contact-card-container">
					<i class="far fa-envelope contact-icon margin-centered"></i> 
					<ul> 
						<li>
							Graphic Design: 
							Daniel Smith
						</li>
						<li>
							Daniel@SouthShoreRoyalTees.com
						</li>
						<li>
							Production:	Mitch MenDell
						</li>
						<li>
							Mitch@SouthShoreRoyalTees.com
						</li>
					</ul> 
				</div>		
			</div>
			<div class="col-12 col-sm-4">
				<div class="contact-card-container">
					<i class="fas fa-comments contact-icon margin-centered"></i>
					<ul> 
						<li>
							<i class="fab fa-facebook-f"></i>
							<a href="https://www.facebook.com/southshoreroyaltees/"> SouthShoreRoyalTees</a>
						</li>
						<li>
							<i class="fab fa-instagram"></i>
							<a href="https://www.instagram.com/southshoreroyaltees/"> SouthShoreRoyalTees </a>
						</li>
					</ul> 
				</div> 
			</div>
		</div>
	</div>
</div>	
