<div class="row home-section" id="contact-us">
	<div class="col col-xs-12">
		<div class="row">
			<div class="col col-xs-12 section-title-col" id="about-col">
				<h2 id="about-title" class="text-centered"> How can you reach us? </h2>
	<!-- 			<p class="section-paragraph"> Interested in learning more? We were hoping you'd say that. Here's how to get in touch with us.</p> -->
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-4">
				<div class="contact-card-container">
					<i class="far fa-envelope contact-icon margin-centered"></i> 
					<p> 
						Inquires: 
						SouthShoreRoyalTees@gmail.com
					</p>
					<p>
						Graphic Design: 
						Daniel Smith
						Daniel@SouthShoreRoyalTees.com
					</p>
					<p>
						Production:
						Mitch MenDell
						Mitch@SouthShoreRoyalTees.com
					</p>
				</div> 
			</div>		
			<div class="col-12 col-sm-4">
				<div class="contact-card-container">
					<i class="far fa-address-card contact-icon margin-centered">
					</i>
					<p> Phone and address </p>
					<p> Phone and address </p>
				</div> 
			</div>
	
			<div class="col-12 col-sm-4">
				<div class="contact-card-container">
					<i class="fas fa-comments contact-icon margin-centered"></i>
					<p>Social Media </p>
					<p>Social Media </p>
					<p>Social Media </p>
				</div> 
			</div>
		</div>
	</div>
</div>	
