<div class="row home-section" id="contact-us">
			<div class="col col-xs-12 section-title-col" id="about-col">
				<h2 id="about-title centered" class="text-centered"> How can you reach us? </h2>
				<p class="section-paragraph"> Interested in learning more? We were hoping you'd say that. Here's how to get in touch with us.</p>
				<ul style="list-style-type: none"> 
					<li>
						<i class="fa fa-mobile" aria-hidden="true"></i> (631) 225-2911
						<i class="fa fa-mobile" aria-hidden="true"></i> 150 W. Hoffman Ave.
Lindenhurst, NY 11757
						<i class="fa fa-mobile" aria-hidden="true"></i> <a href="https://www.instagram.com/southshoreroyaltees/"> Instagram</a>
						<i class="fa fa-mobile" aria-hidden="true"></i> (631) 225-2911
					</li>
			</div>
		</div>
	</div>	
</div>