<div class="row home-section" id="contact-us">
	<div class="col col-xs-12">
		<div class="row">
			<div class="col col-xs-12 section-title-col" id="about-col">
				<h2 id="about-title centered" class="text-centered"> How can you reach us? </h2>
	<!-- 			<p class="section-paragraph"> Interested in learning more? We were hoping you'd say that. Here's how to get in touch with us.</p> -->
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-4"><i class="fa fa-address-card" aria-hidden="true"></i></div>
			<div class="col-12 col-sm-4">test</div>
			<div class="col-12 col-sm-4">
				TEst
			</div>
		</div>
	</div>	
</div>