<div class="row home-section" id="process">
    <div class="col col-xs-12">
        <div class="row">
            <div class="col col-xs-12 section-title-col" id="process-col">
                <h2 id="about-title" class="text-centered"> Our Process </h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12 flex-centered">
                 <%= image_tag("orderprocess", id: "process-logo", alt: "South Shore T shirt") %>   
           
            </div>
        </div>
    </div>
</div>