@import 'variables.scss';

.contact-card-container {
	.contact-icon {
		font-size: 3em;
	}

	ul {
		list-style-type: none;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

	
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
		.contact-card-container {
			ul li {
				font-size: 18px;
			}
		}
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }